/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/adminlte-v4.0.0-beta2-with-dist
/molla-eCommerce-html-template
/aa-molla-eCommerce-html-template